.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 300px 0;
  background: #fff2fd;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 480px) {
    width: 272px;
    padding-top: 25px;
    padding-bottom: 104px;
    padding-left: 12px;
    padding-right: 17px;
  }

  @media screen and (min-width: 768px) {
    width: 595px;
    padding-top: 25px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 17px;
  }

  @media screen and (min-width: 1200px) {
    width: 930px;
    padding-top: 17px;
    padding-bottom: 75px;
    padding-left: 39px;
    padding-right: 21px;
  }

  .rectangle {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    margin-top: 7px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  &__image {
    width: 360px;
    height: 641px;
  }

  &__content {
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
  }

  &__subtitle {
    color: #dc56c5;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__text {
    color: #0e0e0e;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

    &:nth-child(5) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row-reverse;
      gap: 13px;
    }
    &:nth-child(6) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row-reverse;
      gap: 13px;
    }
  }

  &__svg {
    width: 29px;
    height: 19.3px;
    fill: #000;
  }

  &__btn {
    width: 145px;
    height: 40px;
    border-radius: 5px;
    background: #4c00fe;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__txt {
    color: #4c00fe;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #4c00fe;
    width: 255px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }

  &__close {
    width: 25px;
    height: 25px;
    position: absolute;
    fill: #4c00fe;
    top: 17px;
    right: 21px;
    background: transparent;
  }
}
