@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  opacity: 1;
  z-index: 11;
  pointer-events: auto;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is__hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  border-radius: 150px 0;
  background: #fff2fd;
  width: 272px;
  max-height: 915px;
  padding-top: 25px;
  padding-bottom: 104px;
  padding-left: 12px;
  padding-right: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.65);

  @media screen and (min-width: 768px) {
    width: 595px;
    padding-top: 25px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 17px;
    max-height: 831px;
    border-radius: 300px 0;
  }

  @media screen and (min-width: 1200px) {
    width: 930px;
    padding-top: 17px;
    padding-bottom: 75px;
    padding-left: 39px;
    padding-right: 21px;
    max-height: 1023px;
  }

  .rectangle {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    margin-top: 33px;

    @media screen and (min-width: 768px) {
      width: 70px;
      height: 70px;
      margin-top: 3px;
    }

    @media screen and (min-width: 1200px) {
      width: 144px;
      height: 144px;
      margin-top: 7px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      gap: 60px;
    }
  }

  &__image {
    display: none;
    aspect-ratio: 3 / 4; // або 9 / 16, залежно від макету
    height: auto;
    width: 100%;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      display: block;
      width: 233px;
      // height: 416px;
    }

    @media screen and (min-width: 1200px) {
      width: 360px;
      // height: 641px;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1200px) {
      gap: 20px;
    }
  }

  &__item:nth-child(5) &__text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;
  }

  &__subtitle {
    color: #dc56c5;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      margin-bottom: 7px;
    }
  }

  &__text {
    color: #0e0e0e;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__svg {
    width: 24px;
    height: 16px;
    fill: #000;

    @media screen and (min-width: 1200px) {
      width: 29px;
      height: 19.3px;
    }
  }

  &__btn {
    width: 145px;
    height: 40px;
    border-radius: 5px;
    background: #4c00fe;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: transform 300ms ease-in-out;

    &:hover {
      transform: scale(1.1) rotate(-5deg);
    }
  }

  &__txt {
    color: #4c00fe;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #4c00fe;
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out,
      transform 300ms ease-in-out;

    &:hover {
      color: #fff;
      box-shadow: 0 0 40px 40px #4c00fe inset;
      transform: scale(1.1);
    }

    @media screen and (min-width: 768px) {
      width: 255px;
      height: 40px;
      margin-top: 43px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 45px;
    }
  }

  &__close {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 25px;
    right: 25px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease-in-out;

    &:hover {
      transform: rotate(90deg) scale(1.2);
    }

    @media screen and (min-width: 1200px) {
      width: 25px;
      height: 25px;
      top: 17px;
      right: 21px;
    }
  }

  &__csvg {
    width: 17px;
    height: 17px;
    fill: #4c00fe;

    @media screen and (min-width: 1200px) {
      width: 25px;
      height: 25px;
    }
  }
}
