@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

.cards {
  padding-top: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;

    @media screen and (min-width: 768px) {
      gap: 27px;
    }

    @media screen and (min-width: 1200px) {
      gap: 56px;
    }
  }

  &__item {
    border-radius: 5%;
    width: 138px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }

    @media screen and (min-width: 768px) {
      width: 196px;
      height: 312px;
    }
  }

  &__img {
    width: 128px;
    height: 161px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: 180px;
      height: 227px;
    }
  }

  &__item-contentb {
    margin-top: 5px;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-top: 5px;
    }
  }

  &__title {
    color: #dc56c5;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__subtitle {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__text {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__svg {
    width: 6px;
    height: 9px;
    fill: #fff;

    @media screen and (min-width: 768px) {
      width: 7px;
      height: 10px;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 60px;

    @media screen and (min-width: 1200px) {
      margin-top: 80px;
    }
  }

  &__schedule-item {
    width: 30px;
    height: 30px;
    border-radius: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .active-page {
    border: 1px solid #dc56c5;
  }

  &__schedule-text {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
