.hero {
  padding-top: 24px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(11, 11, 11, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(11, 11, 11, 0.5),
      rgba(11, 11, 11, 0.5)
    ),
    url(../img/bghero.webp);

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 183px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 53px;
    padding-bottom: 193px;
  }


&__logo {
  position: absolute;
  top: 40px;
  left: 40px;
  
}

&__title {
  color: #dc56c5;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 27px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 50px;
    margin-bottom: 52px;
  }
}

&__form {
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

&__input {
  padding: 10px 118px 10px 30px;
  border: none;
  border-radius: 20px;
  //   color:#A9A9A9;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding: 10px 118px 10px 30px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 118px 10px 30px;
    margin-bottom: 0;
  }
}

&__inp {
  padding: 10px 113px 10px 30px;
  border: none;
  border-radius: 20px;
  //   color:#A9A9A9;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: 768px) {
    padding: 10px 113px 10px 30px;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 113px 10px 30px;
  }
}
}