.container {
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;

  @media screen and (min-width: 480px) {
    max-width: 290px;
  }

  @media screen and (min-width: 768px) {
    max-width: 594px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1050px;
  }
}
