<section class="cards">
    <div class="container">
        <ul class="cards__list">
            <!-- CARD EXAMPLE  -->
            <li class="cards__item">
                <img src="./img/placeholderimg.png" alt="Concert image."
                    class="cards__img">
                <div class="cards__item-contentb">
                    <h1 class="cards__title">Eurovision 2021 finals!</h1>
                    <h2 class="cards__subtitle">2021-05-13</h2>
                    <p class="cards__text"><svg class="cards__svg"><use
                                href="./img/symbol-defs.svg#icon-arrow"></use></svg>Palace
                        of Ukraine</p>
                </div>
            </li>
        </ul>
        <ul class="cards__schedule">
            <!-- LINK EXAMPLE  -->
            <li class="cards__schedule-item active-page">
                <p class="cards__schedule-text">1</p>
            </li>
        </ul>
    </div>
</section>