<div class="backdrop is__hidden">
    <div class="modal">
        <div class="rectangle">
            <img src="./img/placeholderimgt.png" alt class="modal__img">
        </div>
        <div class="modal__wrapper">
            <img src="./img/placeholderimgt.png" alt class="modal__image">
            <div class="modal__content">
                <ul class="modal__list">
                    <li class="modal__item">
                        <h2 class="modal__subtitle">INFO</h2>
                        <p class="modal__text">Atlas Weekend is the largest
                            music festival
                            in Ukraine.More than 200 artists will create
                            a proper music festival atmosphere on 10 stages</p>
                    </li>
                    <li class="modal__item">
                        <h2 class="modal__subtitle">WHEN</h2>
                        <p class="modal__text">2021-06-09 <br>
                            20:00 (Kyiv/Ukraine)</p>
                    </li>
                    <li class="modal__item">
                        <h2 class="modal__subtitle">WHERE</h2>
                        <p class="modal__text">Kyiv, Ukraine <br>
                            VDNH</p>
                    </li>
                    <li class="modal__item">
                        <h2 class="modal__subtitle">WHO</h2>
                        <p class="modal__text">The Black Eyed Peas</p>
                    </li>
                    <li class="modal__item">
                        <h2 class="modal__subtitle">PRICES </h2>
                        <p class="modal__text"><svg class="modal__svg">
                                <use
                                    href="./img/symbol-defs.svg#icon-ticket"></use>
                            </svg>Standart 300-500 UAH</p>
                        <button class="modal__btn"
                            style="margin-bottom: 20px;">BUY TICKETS</button>
                        <p class="modal__text"><svg class="modal__svg">
                                <use
                                    href="./img/symbol-defs.svg#icon-ticket"></use>
                            </svg>VIP 1000-1500 UAH</p>
                        <button class="modal__btn">BUY TICKETS</button>
                    </li>
                </ul>
            </div>
        </div>
        <p class="modal__txt">MORE FROM THIS AUTHOR</p>
        <button class="modal__close"><svg class="modal__csvg">
                <use href="../img/symbol-defs.svg#icon-close"></use>
            </svg></button>
    </div>
</div>