   
      <section class="hero">
         <div class="container">
        <div class="hero__logo__box">
          <svg>
            <use hreff=""></use>
          </svg>
        </div>

        <h1 class="hero__title">
          FIND BEST EVENTS <br />
          AROUND THE WORLD
        </h1>

        <form class="hero__form" id="search-form">
          <label class="hero__label">
            <span class="visually-hidden">Search event</span>
            <input
              type="text"
              name="query"
              class="hero__input"
              placeholder="Start searching"
            />
          </label>

          <label class="hero__label">
            <span class="visually-hidden">Choose country</span>
            <input
              type="text"
              name="country"
              class="hero__input"
              placeholder="Choose country"
            />
          </label>
        </form>
        </div>
      </section>
   