  <section class="hero">
         <div class="container">
        <div class="hero__logo-box">
          <svg class="hero__logo" >
            <use href="../img/symbol-defs.svg#hero-logo"></use>
          </svg>
        </div>

        <h1 class="hero__title">
          FIND BEST EVENTS <br />
          AROUND THE WORLD
        </h1>

        <form class="hero__form" id="search-form">
          <label class="hero__label">
            <input type="text" name="query" class="hero__input" placeholder="Start searching"/>
            <!-- <svg class="hero__search">
              <use href="./img/symbol-defs.svg#search-icon"></use>
            </svg> -->
          </label>


      <select name="pets" id="pet-select" class="hero__country">
  <option value="" class="hero__option">Choose country</option>
<option value="US">United States</option>
  <option value="GB">Great Britain</option>
  <option value="DE">Germany</option>
  <option value="PL">Poland</option>
  <option value="CA">Canada</option>
</select>
 <!-- <svg class="hero__polygon">
              <use href="./img/symbol-defs.svg#polygon"></use>
            </svg> -->
          </label>
        </form>
        </div>
      </section>
   
